<!DOCTYPE html>
<html>
<head>
	<title>MTG Card Search</title>
</head>
<body>
	<h1>Hello!!!!!!!!!!!!!!!!</h1>
	<input type='text' name='text_search'><br>

	<input type="checkbox" class='color_check_box' name='green_check'>
	<label for='green_check'>Green</label>

	<input type="checkbox" class='color_check_box' name='blue_check'>
	<label for='blue_check'>Blue</label>

	<input type="checkbox" class='color_check_box' name='black_check'>
	<label for='black_check'>Black</label>

	<input type="checkbox" class='color_check_box' name='white_check'>
	<label for='white_check'>White</label>

	<input type="checkbox" class='color_check_box' name='red_check'>
	<label for='red_check'>Red</label><br>

	<input type='radio' class='radio' name='digital'>
	<label for='digital'>Digital</label>

	<input type='radio' class='radio' name='not_digital'>
	<label for='not_digital'>Not Digital</label>

	<select name='keywords'>
		
	</select>
</body>
</html>