<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>MTG Card Search</title>
</head>
<body>
	<h1> {{context.BUTT}}</h1>
	<h1>Hello!!!!!!!!!!!!!!!!</h1>
	<input type='text' name='text_search'><br>

	<input type="checkbox" class='color_check_box' name='green_check'>
	<label for='green_check'>Green</label>

	<input type="checkbox" class='color_check_box' name='blue_check'>
	<label for='blue_check'>Blue</label>

	<input type="checkbox" class='color_check_box' name='black_check'>
	<label for='black_check'>Black</label>

	<input type="checkbox" class='color_check_box' name='white_check'>
	<label for='white_check'>White</label>

	<input type="checkbox" class='color_check_box' name='red_check'>
	<label for='red_check'>Red</label><br>

	<input type='radio' class='radio' name='digital'>
	<label for='digital'>Digital</label>

	<input type='radio' class='radio' name='not_digital'>
	<label for='not_digital'>Not Digital</label><br>
	<label for='keywords'>Keyword Abilities</label>
	<select name='keywords'>
	{% for key in keywords %}
		<option value={{key.keywords}}>{{key.keywords}}</option>
	{% endfor %}
	</select><br>

	<label for='types'>Card Types</label>
	<select name='types'>
		{%for type in types%}
			<option value={{type}}>{{type.type_line}}</option>	
		{%endfor%}
	</select><br>

	<p>CMC</p>
	<select name='comparison' id='comparison'>
		<option value='less_than'><</option>
		<option value='less_than_equal'><=</option>
		<option value='greater_than'>></option>
		<option value='greater_than_equal'>>=</option>
		<option value='equal'>=</option>
	</select>
	<input type='number'>
	<br>
</body>
</html>